body{
    background-color: darkslategray;
}
.AA01{
    border: 2px solid red;
    color: red;
}
.AA1{
    border: 2px solid yellow;
    background-color: yellow;
}
.AA2{
    border: 2px solid purple;
    color: purple;
}